{% extends "base.html"%} {% block title%}Login{%endblock%}

{%block content%}
<form method='POST'>
    <h3 align="center">Forgot Password</h3>
    <h4 align='center'>Enter your email adress and your password will be sent to you</h4>
    <div class="form-group">
        <label for="email">Enter Email Address</label>
        <input type="email" class="form-control" id="email" name="emailF" placeholder="Enter Email"/>
    </div>




<br />
<button type="submit" class="btn btn-primary">Submit</button>

</form>
    {%endblock%}
